*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color : #000;

}
.hover > li {
    font-size:25px;
    margin-left:50px;
    margin-bottom:10px;
    transition: all 0.2s linear;
    width :100% 
}
.hover > li:hover{
    transform: scale(1.3);
}